{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-800">Available Books</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for book in books %}
        <div class="bg-white shadow-md rounded-lg p-6 border border-blue-200 mb-6"> <!-- Added mb-6 for spacing -->
            <div class="flex justify-between items-center">
                <div class="w-full">
                    <h3 class="text-xl font-semibold text-gray-800 mb-1">{{ book.name }}</h3>
                    <p class="text-sm text-gray-600"><strong>Author:</strong> {{ book.author }}</p>
                    <p class="text-sm text-gray-600"><strong>Condition:</strong> {{ book.condition }}/5</p>
                    <p class="text-sm text-gray-600">
                        <strong>Status:</strong>
                        {% if book.is_rented %}
                            <span class="text-red-500 font-bold">Rented</span>
                        {% else %}
                            <span class="text-green-500 font-bold">Available</span>
                        {% endif %}
                    </p>
                </div>
                {% if not book.is_rented %}
                <form method="post" action="{% url 'books:rent_book' book.id %}" class="ml-4">
                    {% csrf_token %}
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md font-semibold text-sm">
                        Rent
                    </button>
                </form>
                {% endif %}
            </div>
            {% if book.is_rented %}
            <p class="text-center text-gray-500 font-semibold mt-4">This book is currently rented.</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}